<html>
<body>
<h1>As we all know...</h1>
<h2><b>The Office</b> is an amazing tv show.<br>However, even someone who has watched all nine seasons <i>just once</i>,<br>will be able to pinpoint various moments where the show went down hill.<br>This application is for all viewers, casuals and fanactics alike.<br>This app will allow you to create a list of your favorite characters while also narrowing them down by season.<br>Love season 3 Andy but hate season 9 Andy? I get it; we all do.<br>And at long last you finally have somewhere to make a list with that disctiction!
<br> <br>
So please, sign up for your account below and begin ranking not just the 26 but 676 characters from The Office!
</h2>
</body>
</html>