<html>
<body>
<h1>As we all know...</h1>
<p>
<main><b><i>The Office</i></b> is an amazing tv show.<br>However, even someone who has watched all nine seasons <i>just once</i>,<br>will be able to pinpoint various moments where the show went downhill.<br>Thus, this application is for all viewers, casuals and fanactics alike.<br>This app will allow you to create a list of your favorite characters while also narrowing them down by season.<br>Love season 3 Andy but hate season 9 Andy? I get it; we all do, and at long last you finally have somewhere to make a list with that distinction!
<br> <br>
So please, sign up for your account below and begin ranking not just 26 but (up to) 676 characters from The Office!
</main>
</body>
<form method="POST" action= "/:name">
    <p>Please enter your username, then hit enter:<input type "text" name=":user"> </p>
</form>
</html>